    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/"><h3>Citadel</h3></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/books" class="nav-link">Books</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/about" class="nav-link">About</a>
                            </li>
                            <% if (locals.user) {%>
                            <li class="navbar-item">
                                <a href="/request" class="nav-link">Requests</a>
                            </li>
                            <%} else { %>
                            <li class="navbar-item">
                                <a href="/register" class="nav-link">Register</a>
                            </li>
                            <%} %>
                            <li class="navbar-item">
                                <% if (locals.user) {%>
                                <a href="/logout" class="nav-link">Logout</a>
                                <%} else {%>
                                <a href="/login" class="nav-link">Login</a>
                                <% } %>
                            </li>
                            <% if (locals.user) {%>
                                <% if (locals.user.role == 'librarian') {%>
                                <li class="navbar-item">
                                    <a href="/admin/dashboard" class="nav-link">Libraian's Office</a>
                                </li>
                                <%} %>
                            <% } %>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="find" method="GET">
                            <input class="form-control mr-sm-2" type="search" placeholder="Enter Title" aria-label="Search" name="search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>